.spacer
{
    width: 100%;
    height: 20px;
}

.btn { width: 150px; 
 	font-family:  sans-serif;}
.btn-group { display: flex; }
.mydropdown {width: 100%; }
.dropdown-menu {
	 font-family:  Verdana, Geneva, sans-serif;
	 font-style: ;
}

/*MARKER CLUSTER*/

.mycluster {
			width: 40px;
			height: 40px;
			background-color: #FF69B4;
			text-align: center;
			font-size: 24px;
		}

/* MODAL STYLE */
/*
*  https://stackoverflow.com/questions/17911918/bootstrap-modal-popping-up-but-has-a-tinted-page-and-cant-interact
 * *body.modal-open div.modal-backdrop { z-index: 0; } */

.modal-open
    {overflow:hidden
}
.modal
    {position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0
}
.modal.fade .modal-dialog
    {-webkit-transition:-webkit-transform .3s
ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s
ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)
}
.modal.in .modal-dialog
    {-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)
}
.modal-open .modal
    {overflow-x:hidden;overflow-y:auto
}
.modal-dialog
    {position:relative;width:auto;margin:10px
}
.modal-content
    {position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px
solid #999;border:1px solid
rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px
rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)
}
.modal-backdrop
    {position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade
    {opacity:0
}
.modal-backdrop.in
    {opacity:.5
}
.modal-header
    {padding:15px;border-bottom:1px solid #e5e5e5
}
.modal-header .close
    {margin-top:-2px
}
.modal-title
    {margin:0;line-height:1.42857143
}
.modal-body
    {position:relative;padding:15px
}
.modal-footer
    {padding:15px;text-align:right;border-top:1px solid #e5e5e5
}
.modal-footer .btn+.btn
    {margin-bottom:0;margin-left:5px
}
.modal-footer .btn-group .btn+.btn
    {margin-left:-1px
}
.modal-footer .btn-block+.btn-block
    {margin-left:0
}
.modal-scrollbar-measure
    {position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll
}
@media (min-width:768px)
    {.modal-dialog
    {width:600px;margin:30px auto
}
.modal-content
    {-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px
rgba(0,0,0,.5)
}
.modal-sm
    {width:300px
}

}
@media (min-width:992px)
    {.modal-lg
    {width:900px
}

}


/**************/


#mapid { 
height: 100%;
width: 100%;
margin: 0px auto;
}


body {
   font: 24px Helvetica;
   background: white;
   color:rgba(0,0,0,.25);
  }

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
 
  #main > article {
   margin: 4px;
   padding: 5px;
   border: 1px solid #cccc33;
   border-radius: 7pt;
   background: white;
   -webkit-flex: 3 1 75%;
           flex: 3 1 75%;
   -webkit-order: 2;
           order: 2;
   }
  
  #main > navi {
   margin: 4px;
   padding: 5px;
    border: 1px solid #cccc33;
   border-radius: 7pt;
   background: white;
   -webkit-flex: 1 6 25%;
           flex: 1 6 25%;
   -webkit-order: 1;
           order: 1;
   }
  
  #main > aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 0 6 0%;
           flex: 0 6 0%;
   -webkit-order: 3;
           order: 3;
   }
 
  header, footer {
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   background: white;
   }
   
#vertical-menu {
	padding: 20px;
}
 

  
 /* ******************** */
 

.flex-container, form {
	display: -webkit-flex;
	display: flex;
	justify-content: left; 
}
form {
	flex-direction: column;
}

.flex-item {
	margin: 20px;
}


/* TREE
http://martinivanov.net/tag/html5-treeview/ */

.acidjs-css3-treeview,
.acidjs-css3-treeview *
{
    padding: 0;
    margin: 0;
    list-style: none;
}
 
.acidjs-css3-treeview label[for]::before,
.acidjs-css3-treeview label span::before
{
    content: "\25b6";
    display: inline-block;
    margin: 2px 0 0;
    width: 13px;
    height: 13px;
    vertical-align: top;
    text-align: center;
    color: #40e0d0;
    font-size: 10px;
    line-height: 13px;
}
 
.acidjs-css3-treeview li ul
{
    margin: 0 0 0 22px;
}
 
.acidjs-css3-treeview *
{
    vertical-align: middle;
}
 
.acidjs-css3-treeview
{
    font: normal 13px/13px "Segoe UI", Arial, Sans-serif;
}
 
.acidjs-css3-treeview li
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
 
.acidjs-css3-treeview input[type="checkbox"]
{
    display: none;
}
 
.acidjs-css3-treeview label
{
    cursor: pointer;
}
 
.acidjs-css3-treeview label[for]::before
{
    -webkit-transform: translatex(-24px);
    -moz-transform: translatex(-24px);
    -ms-transform: translatex(-24px);
    -o-transform: translatex(-24px);
    transform: translatex(-24px);
}
 
.acidjs-css3-treeview label span::before
{
    -webkit-transform: translatex(16px);
    -moz-transform: translatex(16px);
    -ms-transform: translatex(16px);
    -o-transform: translatex(16px);
    transform: translatex(16px);
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\25bc";
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:not(:checked) ~ ul
{
    display: none;
}
 
.acidjs-css3-treeview label:not([for])
{
    margin: 0 8px 0 0;
}
 
.acidjs-css3-treeview label span::before
{
    content: "";
    border: solid 1px #1375b3;
    color: #1375b3;
    opacity: .50;
}
 
.acidjs-css3-treeview label input:checked + span::before
{
    content: "\2714";
    box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;
    opacity: 1;
}
