@CHARSET "ISO-8859-1";

#mapid { height: 500px; width: 700px;}

.flex-container {
	display: -webkit-flex;
	display: flex;
	justify-content: space-around; 
	
	
}

.flex-item {
	 border-right: 1px solid #555;
}

.flex-item:last-child {
  border: none;
}

.center-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mapid, #ocultar {
	margin-top: 50px;
}