@CHARSET "ISO-8859-1";

.btn { width: 100px; }
#mapid { 
height: 500px;
width: 800px;
margin: 0px auto;
}

/* SECTION TAKES 100 % BY DEFAULT */
/* https://davidwalsh.name/flexbox-layouts */

/*flexbox sets the widths of the columns to the size of their content. 
change this behavior: flex-grow and flex-shrink */

section {
  max-width: 740px;
  margin: 0 auto;
  display: flex;
}

.column {
    margin: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

section:nth-of-type(6) .column:nth-of-type(2) {
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
    -ms-flex-negative: 4;
    flex-shrink: 4;
    -ms-flex-preferred-size: 66px;
    flex-basis: 66px;
}

#sec-left {
	height : 100 %;
}

#vertical-menu {
	width: 20%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #f1f1f1;
    margin: 0px auto;
    
}



.navi {
	 flex-direction: column;	
}

/*
.flex-container {
	display: -webkit-flex;
	display: flex;
	justify-content: left; 
}

.flex-item {
	margin: 20px;
}
*/

/* TREE
http://martinivanov.net/tag/html5-treeview/ */

.acidjs-css3-treeview,
.acidjs-css3-treeview *
{
    padding: 0;
    margin: 0;
    list-style: none;
}
 
.acidjs-css3-treeview label[for]::before,
.acidjs-css3-treeview label span::before
{
    content: "\25b6";
    display: inline-block;
    margin: 2px 0 0;
    width: 13px;
    height: 13px;
    vertical-align: top;
    text-align: center;
    color: #e74c3c;
    font-size: 8px;
    line-height: 13px;
}
 
.acidjs-css3-treeview li ul
{
    margin: 0 0 0 22px;
}
 
.acidjs-css3-treeview *
{
    vertical-align: middle;
}
 
.acidjs-css3-treeview
{
    font: normal 11px/16px "Segoe UI", Arial, Sans-serif;
}
 
.acidjs-css3-treeview li
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
 
.acidjs-css3-treeview input[type="checkbox"]
{
    display: none;
}
 
.acidjs-css3-treeview label
{
    cursor: pointer;
}
 
.acidjs-css3-treeview label[for]::before
{
    -webkit-transform: translatex(-24px);
    -moz-transform: translatex(-24px);
    -ms-transform: translatex(-24px);
    -o-transform: translatex(-24px);
    transform: translatex(-24px);
}
 
.acidjs-css3-treeview label span::before
{
    -webkit-transform: translatex(16px);
    -moz-transform: translatex(16px);
    -ms-transform: translatex(16px);
    -o-transform: translatex(16px);
    transform: translatex(16px);
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\25bc";
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:not(:checked) ~ ul
{
    display: none;
}
 
.acidjs-css3-treeview label:not([for])
{
    margin: 0 8px 0 0;
}
 
.acidjs-css3-treeview label span::before
{
    content: "";
    border: solid 1px #1375b3;
    color: #1375b3;
    opacity: .50;
}
 
.acidjs-css3-treeview label input:checked + span::before
{
    content: "\2714";
    box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;
    opacity: 1;
}


